/*Base*/
ul {
    list-style-type: none;
}

/*Button*/
.button{
    color: #faf4ea;
    background-color: #819b57;
    border: 2px solid #819b57;
    border-radius: 8px;
}

.button:hover {
    color: #465929;
    background-color: transparent;
}

/*Link*/
.link {
    color: #faf4ea;
}

.link:hover {
    color: #819b57;
}

/*Hero section*/
.hero-title{
    color: #faf4ea;
}

.hero-title .accent {
    color: #819b57;
}

/*Advantages section*/
.advantages-list{
color: #faf4ea;
background-color: #819b57;
}
.section-title{
    color: #31261a;
}
/*Traditions section*/

/*Chefs section*/

/*Formats section*/

/*Contact section*/

/*Footer*/
