:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #819B57;
}

/*Base*/

body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
}

/*Button*/
.button{
    color: var(--color-primary-light);
    background-color: var(--color-brand-dark);
    border: 2px solid var(--color-brand-dark);
    border-radius: 8px;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/*Link*/
.link {
    color: var(--color-primary-light);
}

.link:hover {
    color: var(--color-brand-dark);
}

/*Hero section*/
.hero-title{
    color: var(--color-primary-light);
    text-align: center;
}

.hero-title .accent {
    color: var(--color-brand-dark);
}

/*Advantages section*/
.advantages-list{
color: var(--color-primary-light);
background-color: var(--color-brand-dark);
}

/* .chefs-section.accent {
    color: red;
} */

.section-title .accent{
    color:var(--color-brand-dark);
}


/*Traditions section*/
.traditions-text .brand{
    color: var(--color-brand-light);
}
.traditions-text .uppercase{
    text-transform: uppercase;
}
/*Chefs section*/

/*Formats section*/

/*Contact section*/

/*Footer*/
