@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
}
:root {
  --color-primary-dark: #31261A;
  --color-primary-light: #FAF4EA;
  --color-secondary-dark: #A28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819B57;
  --color-brand-light: #cfcfbc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    font-weight: 400;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

.section {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}
.section-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 64px;
    line-height: 1.3;
  }
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  display: block;
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border-color: currentColor;
}

.button[disabled] {
  color: gray;
  border-color: lightblue;
  border-color: currentColor;
}

.link {
  color: var(--color-primary-light);
  line-height: 1.5;
  /*because 27/18, where 27- line-height, 18- font size*/
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-dark);
  font-weight: 600;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 32px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
  }
}
@media screen and (max-width: 1280px) {
  .header-button {
    display: none;
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
  }
}
.button-burger {
  display: none;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1280px) {
  .button-burger {
    display: block;
    background-color: transparent;
    width: 24px;
    height: 24px;
    padding: 0;
    fill: var(--color-primary-light);
    background-color: var(--color-primary-light);
  }
}
.hero-section {
  padding: 124px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding: 272px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url("../images/hero-section-background@2x.jpg");
  }
}
.hero-title {
  margin-bottom: 48px;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 67px;
  font-weight: 900;
}

@media screen and (min-width: 1280px) {
  .hero-title {
    margin-bottom: 0;
    font-size: 128px;
    line-height: 1.5;
    font-weight: 900;
  }
}
.hero-title .accent {
  color: var(--color-brand-normal);
}

.hero-section-button {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .hero-section-button {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu.btn-close {
  position: absolute;
  top: 16px;
  right: 24px;
}

.advantages-section {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-normal);
  }
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 40px;
  background-color: var(--color-brand-light);
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
}
.advantages-item {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

@media screen and (min-width: 768px) {
  .advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
  }
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.traditions-section {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .traditions-section {
    padding-top: 96px;
  }
}
.traditions-section-image {
  border-radius: 400px 400px 0px 0px;
  display: none;
}

@media screen and (min-width: 768px) {
  .traditions-section-image {
    display: block;
  }
}
.traditions-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 330px;
}

.chefs-section {
  padding: 16px 0;
}

.chefs-title {
  position: relative;
  margin: 0 auto 24px;
}

@media screen and (min-width: 1280px) {
  .chefs-title {
    margin-bottom: 80px;
  }
}
.chefs-title::before,
.chefs-title::after {
  display: none;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}

@media screen and (min-width: 1280px) {
  .chefs-title::before,
.chefs-title::after {
    display: block;
  }
}
.chefs-title::before {
  position: absolute;
  left: 0;
  bottom: 24px;
}

.chefs-title::after {
  position: absolute;
  right: 0;
  bottom: 24px;
}

.chefs-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .chefs-list {
    flex-direction: row;
    gap: 40px 30px;
  }
}
@media screen and (min-width: 768px) {
  .chefs-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .chef-card {
    gap: 30px;
  }
}
.chef-photo {
  width: 140px;
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

@media screen and (min-width: 1280px) {
  .chef-photo {
    width: 240px;
  }
}
.chef-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .chef-title {
    font-size: 40px;
  }
}
.chef-text p {
  font-size: 14px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .chef-text p {
    font-size: 18px;
  }
}
.chef-text p:last-child {
  margin-bottom: 0;
}

.formats-section-slider {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-section-container {
  overflow: hidden;
}

.formats-section-list {
  margin-bottom: 32px;
}

.formats-section-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .formats-section-button {
    display: flex;
  }
}
/*.format-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}*/
/*swiper-slide*/
/*.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}*/
.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  height: 444px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
  border: 1px solid lightgray;
  border-radius: 16px;
  overflow: hidden;
}

/*.format-card:hover {
    transform: scale(1.05);
}*/
.formats-title {
  margin-bottom: 80px;
}

.format-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-arrow {
  fill: var(--color-primary-dark);
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

.carousel-button.next {
  transform: rotate(180deg);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pagination__button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--color-secondary-dark);
  border-radius: 50%;
}

.pagination__button-active {
  background-color: var(--color-brand-normal);
}

.contact-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 24x;
}

@media screen and (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    gap: 32px;
  }
}
.contact-section-title {
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 24px;
}

.contact-map {
  flex-shrink: 0;
  height: 176px;
  margin: 0 -24px;
  border-radius: 16px;
  border: none;
}

@media screen and (min-width: 768px) {
  .contact-map {
    margin: auto;
    width: 320px;
    height: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-map {
    width: 600px;
    height: 595px;
  }
}
.contact-section-button {
  display: block;
  margin: 0 auto 16px;
}

.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url(../images/decor-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/decor-bread-large.png);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}
.footer-nav {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    flex-direction: row;
    flex-basis: 50%;
    text-align: left;
  }
}
.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.footer-address {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-basis: 50%;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    flex-direction: row;
    flex-basis: 50%;
    text-align: left;
  }
}
.footer-address-list,
.footer-address-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    justify-content: flex-start;
  }
}
.footer-socials-icon {
  fill: var(--color-primary-light);
}

.footer-socials-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  color: var(--color-secondary-dark);
  font-size: 14px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 800px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.form-field {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}