:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-secondary-dark: #A28268;
    --color-brand-dark: #465929;
    --color-brand-normal: #819B57;
    --color-brand-light: #cfcfbc;
}

$br-mobile: 480px;
$br-tablet: 768px;
$br-desktop: 1280px;