.footer {
    padding: 32px 0;
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../images/decor-bread-small.png);
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../images/decor-bread-large.png);
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

 @media screen and (min-width: $bp-tablet) {
    .footer-container {
        flex-direction: row;
     }
 }

.footer-nav {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

 @media screen and (min-width: $bp-tablet) {
     .footer-nav {
        flex-direction: row;
        flex-basis: 50%;
        text-align: left;
     }
 }

.footer-logo {
    flex-grow: 1;

}

.footer-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

.footer-address {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-basis: 50%;
    gap: 20px;
}

 @media screen and (min-width: $bp-tablet) {
    .footer-address {
        flex-direction: row;
        flex-basis: 50%;
        text-align: left;
     }
 }

.footer-address-list,
.footer-address-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
}

  @media screen and (min-width: $bp-tablet) {
    .footer-socials {
        justify-content: flex-start;
      }
  }

.footer-socials-icon {
    fill: var(--color-primary-light);
}

.footer-socials-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright {
    color: var(--color-secondary-dark);
    font-size: 14px;
}