.formats-section-slider {
    display: flex;
    gap: 32px;
    align-items: center;
}

.formats-section-container {
    overflow: hidden;
}

.formats-section-list {
    margin-bottom: 32px;
}

.formats-section-button {
    display: none; 
}

 @media screen and (min-width: $bp-tablet) {
    .formats-section-button {
        display: flex;
     }
 }

/*.format-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}*/


/*swiper-slide*/
/*.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}*/

.format-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    height: 444px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
    border: 1px solid lightgray;
    border-radius: 16px;
    //transition: transform 0.3s;
    overflow: hidden;
}

/*.format-card:hover {
    transform: scale(1.05);
}*/

.formats-title {
    margin-bottom: 80px;
    
}

.format-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
}

.format-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
}