.traditions-section {
    padding-top: 40px;
}

 @media screen and (min-width: $bp-tablet) {
    .traditions-section{
        padding-top: 96px;
     }
 }

.traditions-section-image {
    border-radius: 400px 400px 0px 0px;
    display: none;
}

 @media screen and (min-width: $bp-tablet) {
    .traditions-section-image {
     display: block;
     }
 }

.traditions-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
    ;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

.traditions-text.limited {
    max-width: 330px;
}